body{
 background-color: rgb(130, 64, 64);
}

.food-card{
    width: 300px;
    border: 1px none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px gray;
    position: relative;
    background-color: aliceblue;
}

.food-card:hover{
    box-shadow: 0 0 20px rgb(81, 81, 81);
    cursor: pointer;
    transition: 0.6s;
} 

.food-card-title{
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.food-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: aliceblue;
    height: 20px;
    border-radius: 2px;
}

.food-img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.food-card-price{
    font-size: 23px;
}

.food-card-btn{
    background-color: rgb(203, 157, 5);
    border-radius: 30px;
    border: none;
    display: block;
    margin: 10px auto;
    height: 30px;
    padding: 3px 20px;
    font-size: 15px;
    cursor: pointer;
}

.food-card-btn:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(203, 157, 5);
    border: solid rgb(203, 157, 5);
}